<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
	<div>
		<br />
		<img class="center-block" src="/img/logo.jpg" />
		<br /> <br />
		<h1 class="text-center" th:text="#{message.error.heading}"></h1>
		<br /> <br />
		<h4 class="text-center" th:text="#{message.error}"></h4>
	</div>

</body>

</html>